body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#calc-body {
    max-width: 500px;
    background-color: #333;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
}

#number-display {
    margin: 15px;
    padding: 15px;
    font-size: 30px;
    border-radius: 50px;
}

#buttons {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border-radius: 15px;
    padding: 20px;
    font-size: 40px;
    cursor: pointer;
}

.operator {
    background-color: rgb(255, 206, 116);
}
